.cn-slick-carousel-section-group .slick-slide {
	margin: 0 20px
}

.cn-slick-carousel-section-group {
	background: #000000;
	box-sizing: border-box;
	color: #FFFFFF;
}

.cn-slick-carousel-section-group h3,
.cn-slick-carousel-section-group p {
	color: #FFFFFF;
	font-size: x-large;
}

/*  SECTIONS  */
.cn-slick-carousel-section {
	box-sizing: border-box;
	clear: both;
	padding: 20px 40px;
	margin: 0;
}

.cn-slick-carousel-section h3 {
	margin-bottom: 40px;
	text-align: center;
}

/*  COLUMN SETUP  */
.cn-slick-carousel-section-column {
	box-sizing: border-box;
	display: inline-block;
	padding: 1% 20px 1% 0;
	vertical-align: top;
}

.cn-slick-carousel-section-column:first-of-type {
	padding-left: 0;
	width: 33%;
}

/*  GROUPING  */
.cn-slick-carousel-section-group:before,
.cn-slick-carousel-section-group:after {
	content: "";
	display: table;
}

.cn-slick-carousel-section-group:after {
	clear: both;
}

/*  GRID OF TWO  */
.cn-slick-carousel-section-column-span-two {
	width: 100%;
}

.cn-slick-carousel-section-column {
	width: 66%;
}

@media only screen and (max-width: 480px) {
	.cn-slick-carousel-section-column {
		margin: 1% 0 1% 0;
	}

	.cn-slick-carousel-section-column:first-of-type {
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {
	.cn-slick-carousel-section-column-span-two, .cn-slick-carousel-section-column {
		width: 100%;
	}
}
